@model IEnumerable<FinalProject.Models.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Список пользователей";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/external.css" rel="stylesheet">
    <title></title>
</head>
<body>

    <table class="table_blur">
        <tr>
            <td>
                <p>Имя</p>

            </td>
            <td><p>Фамилия</p></td>
            <td><p>Действие</p></td>
        </tr>

        @{
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName  </td>
                    <td>@user.LastName  </td>
                    <td>
                        @Html.ActionLink("Удалить", "Delete", routeValues: new { id = user.Id })
                    </td>

                </tr>
            }
        }
    </table>
    <br />
    <br />
    <p>@Html.ActionLink("Вернуться назад", "Index", "User")</p>
</body>
</html>